<mat-toolbar>
  <span class="app-name">Triply</span>
  <span class="spacer"></span>
  <nav class="nav-links">
    <a mat-button routerLink="/search" routerLinkActive="active-link">
      <mat-icon>search</mat-icon>
      Search
    </a>
    <a mat-button routerLink="/hotels" routerLinkActive="active-link">
      <mat-icon>hotel</mat-icon>
      Hotels
    </a>
    <a mat-button routerLink="/cars" routerLinkActive="active-link">
      <mat-icon>directions_car</mat-icon>
      Cars
    </a>
    <a mat-button routerLink="/transport" routerLinkActive="active-link">
      <mat-icon>directions_bus</mat-icon>
      Transport
    </a>
    <a mat-button routerLink="/tours" routerLinkActive="active-link">
      <mat-icon>local_activity</mat-icon>
      Tours
    </a>
    <a mat-button routerLink="/attractions" routerLinkActive="active-link">
      <mat-icon>museum</mat-icon>
      Attractions
    </a>
    <a mat-button routerLink="/itinerary" routerLinkActive="active-link">
      <mat-icon>map</mat-icon>
      Itinerary
    </a>
  </nav>
</mat-toolbar>
